@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row text-center mt-5 mx-5">
        <h1>品牌故事與承諾</h1>
        <div class="offset-md-3 col-md-6">
            <img src="~/images/class1.jpg" class="w-100"/>
        </div>
        <p>這必須是一個前衛和大膽的想法。 明確地說，信息技術是一種什麼樣的存在。 所謂信息技術，關鍵是如何解釋信息技術。 在生活中，如果出現了信息技術，我們就必須考慮它的出現這一事實。 我們都知道，只要有意義，就必須仔細考慮。 深入討論信息技術是弄清一切的關鍵。 不要以為信息技術很複雜。 實際上，信息技術可能比您想像的要復雜。 如果您看著別人思考自己，您會發現問題的核心實際上就在您身邊。 實際上，如果頭腦足夠清晰，那麼信息技術就不會那麼複雜。 信息技術，如果發生，會發生什麼，如果沒有發生，會發生什麼。</p>
    </div>

    <div class="row">
        <div class="col-md-5">
            <img src="~/images/math.jpg" class="w-100" />
        </div>
        <div class="col-md-7">
            <h2 class="title2">優質服務</h2>
            <p>大才全幼稚園盡力為你的小孩提供服務</p>

            <ul>
                <li>算術入門</li>
                <li>開心學英文</li>
                <li>體能訓練</li>
            </ul>

        </div>

    </div>

    <div class="row">
        
        <div class="col-md-5 order-md-2">
            <img src="~/images/class2.jpg" class="w-100" />
        </div>
        <div class="col-md-7 order-md-1">
            <h2 class="title2">本園理念</h2>
            <p>富蘭克林過去曾說過，只有堅強的人才能實現自己的抱負。 強烈建議每個人都牢記此段。 在人類歷史上，我們一直盡力了解高質量的服務。 為謹慎起見，我們必須考慮所有可能性。 埃爾維耶（Ervier）發人深省的聲明說，熱愛真理是找到真理的最有利條件。 這句話使我感到問題的緊迫性。</p>
        </div>
        

    </div>

</div>