
@{
    ViewBag.Title = "usersadd";
    Layout = "~/Views/Shared/_Layoutamdin.cshtml";
}

<div class="container">
    <form method="post">
        <label for="user">帳號</label>
        <input class="form-control" id="user" name="user" required />
        <label for="password">密碼</label>
        <input class="form-control" id="password" name="password" required />
        <label for="name">姓名</label>
        <input class="form-control" id="name" name="name" required />

        <button class="btn btn-primary my-3" type="submit">送出</button>

    </form>

    @if (ViewBag.msg != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.msg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    }

    <a class="btn btn-primary my-3" href="/home/userslist">回列表</a>

</div>

